<ion-view>
	<ion-header-bar align-title="left" class="bar-positive">
		<div class="bar bar-header action-bar-gradient modelHeaderMain">
			<p class="modelHeading">Select Category</p>
			
			<div class="doneButtonModel" ng-click="doneCat()">
				<i class="ion-android-done doneIconModel"></i>
				<p class="dontButtonTxt">Done</p>
			</div>
		</div>
	</ion-header-bar>
	<ion-content overflow-scroll="true">
		<div class="categoriesListMain">
			<div class="categoriesList" ng-repeat="category in categories">
				<img ng-src="{{category.img_url}}" class="categoryImageImg" alt="" />
				<div class="categoryOverlayNicon">
					<input type="radio" name="categories" value="{{category.name}}" ng-click="getCID()"/>
					<i class="fa fa-heart categorySelectedIcon"></i>
					<i class="fa fa-heart-o selectCategoryIcon"></i>
				</div>
				<p class="categoryNameTxt">{{category.name}}</p>
			</div>
		</div>
	</ion-content>
</ion-view>
