<ion-view>
	<ion-header-bar align-title="left" class="bar-positive">
		<div class="postTalentHeading">
			<p class="postTalentHeadingTxt">Post your talent</p>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="postTalentMain">
			<div class="postTalentInner">
				<div class="postTalentStep">
					<input type="text" class="textBoxPT" placeholder="Enter your talent title" ng-model="talent"/>
					<p ng-show="Vtitle">Title</p>
				</div>
				<div class="postTalentStep">
					<textarea class="textAreaPT" rows="5" placeholder="Enter your talent description" ng-model="description"></textarea>
					<p ng-show="Vdesc">Description</p>
				</div>
				
				<div class="postTalentStep">
<p ng-show="Vcat">DSdsds</p>
					<p class="selectCategoriesP fleft" ng-click="catModal.show();">{{selectCat}}</p>
<p ng-show="Vsubcat">DSdsds</p>
					<p class="selectCategoriesP fright" ng-click="subCatModal.show();">{{selSubCat}}</p>
				</div>
				<div class="postTalentStep">
					<ion-radio ng-model="choice" ng-value="'image'" ng-click="video()">Upload Image</ion-radio>
					<ion-radio ng-model="choice" ng-value="'video'" ng-click="video()">Upload Video</ion-radio>
				</div>
				<div class="postTalentStep">
					<input type="text" class="textBoxPT" placeholder="Paste your video url" ng-show="videoURL" ng-model="vURL"/>
					<div class="uploadImageMain">
						<div class="uploadImageInner fleft">
							<i class="fa fa-picture-o uploadPhotoIcon"></i>
							<p class="uploadPhotoTxt">Add Photo</p>
							<input type="file" class="uploadImageInput" fileread="vm.uploadme"/>
						</div>
						<div class="uploadImageInner fright">
							<i class="fa fa-picture-o uploadPhotoIcon"></i>
							<p class="uploadPhotoTxt">Add Photo</p>
							<input type="file" class="uploadImageInput"  filereads="vm.uploadme" />
							<img ng-src="" class="" alt="" />
						</div>
						<p ng-show="Vmedia">ssasa</p>
					</div>
				</div>

				<div class="postTalentStep">
					<input type="submit" class="submitPost" value="Submit talent" ng-click="submit()"/>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
