<ion-view>
	<ion-content>
		<div class="bar bar-header action-bar-gradient modelHeaderMain">
			<p class="modelHeading">Select Sub Category</p>
			
			<div class="doneButtonModel">
				<i class="ion-android-done doneIconModel"></i>
				<p class="dontButtonTxt" ng-click="doneSubCat()">Done</p>
			</div>
		</div>
		
		<div class="categoriesListMain">
			<form>
			<div class="categoriesList" ng-repeat="subCategory in subCategories">
				<img ng-src="img/arts.jpg" class="categoryImageImg" alt="" />
				<div class="categoryOverlayNicon">
					<input type="radio" name="categories" value="{{subCategory.name}}"  ng-click="getSubCID()"/>
					<i class="fa fa-heart categorySelectedIcon"></i>
					<i class="fa fa-heart-o selectCategoryIcon"></i>
				</div>
				<p class="categoryNameTxt">{{subCategory.name}}</p>
			</div>
			</form>
		</div>
	</ion-content>
</ion-view>
