<ion-view>
	<div class="registrationBg">
		<img src="img/registrationBg.jpg" alt="" class="registrationBgImg" />
	</div>
	<div class="loginContentDiv">
		<div class="loginHeading">
			<p class="loginHeadingTxt">We know you are talented, just one step away to get noticed.Let us know about your talent and <br />leave rest to us! </p>
		</div>
		<div class="loginContent">
			<div class="loginContentInner">
				<p class="signUpUsingGoogle" ng-click="gPlus()">Sign Up using google+</p>
				<div class="orContainer">
					<p class="orLine">&nbsp;</p>
					<p class="orSymbol">Or</p>
				</div>
				<p class="signUpUsingFacebook" ng-click="fb()">Sign Up using facebook</p>
			</div>
		</div>
	</div>
	<p class="loginButtonInput" ui-sref="postTalent">Post your talent</p>
</ion-view>
